:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --maincolor: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: Neucha;
  src: url("assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1 {
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h3 {
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

section {
  align-content: center;
  max-width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}
